/******************Global body tag******************************/
/* line 3, ../sass/main.scss */
body {
  background: url("../img/back.png");
}

/* line 8, ../sass/main.scss */
header .container {
  background: url("../img/mid_top.png");
  background-repeat: no-repeat;
}

/************************TOP NAVIGATION MENU*************************************/
/* line 23, ../sass/main.scss */
.container {
  max-width: 1220px;
  position: relative;
  /** LOGO **/
  /** END LOGO **/
  /** NAV MENU **/
  /** END NAV MENU **/
  /** LANGUAGE SWITCHER **/
  /** END LANGUAGE SWITCHER **/
  /** MIDDLE HEADER **/
  /**END MIDDLE HEADER **/
  /**BOTTOM TOP**/
  /** END BOTTOM TOP **/
  /** BOTTOM MIDDLE HEADER **/
  /** END BOTTOM MIDDLE HEADER **/
}
/* line 28, ../sass/main.scss */
.container .logo {
  height: 197px;
  width: 167px;
  background: url("../img/logo.png") no-repeat;
  background-position: center;
}
/* line 40, ../sass/main.scss */
.container .main-menu .navbar-toggler {
  margin: auto;
}
/* line 45, ../sass/main.scss */
.container .main-menu .navbar-nav a {
  color: #FFFFFF !important;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04px;
  line-height: 16px;
  padding: 0 !important;
  margin-right: 2.0rem;
  height: 35px;
}
/* line 55, ../sass/main.scss */
.container .main-menu .navbar-nav a:hover {
  border-bottom: #FFFFFF 3px solid;
}
/* line 63, ../sass/main.scss */
.container .language {
  position: absolute;
  right: 39px;
  top: 19px;
}
/* line 67, ../sass/main.scss */
.container .language ul {
  display: flex;
  width: 62px;
  justify-content: space-between;
}
/* line 72, ../sass/main.scss */
.container .language ul li a {
  font-family: "Gotham Pro";
  font-size: 18px;
  letter-spacing: 0.19px;
  line-height: 17px;
  color: #FFFFFF;
}
/* line 79, ../sass/main.scss */
.container .language ul li a.active {
  color: #A94729;
}
/* line 83, ../sass/main.scss */
.container .language ul li:first-child {
  border-right: 1px solid #FFFFFF;
  padding-right: 7px;
}
/* line 93, ../sass/main.scss */
.container .middle-header .title-month {
  text-align: center;
  padding-left: 3%;
}
/* line 96, ../sass/main.scss */
.container .middle-header .title-month .title {
  height: 57px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 64px;
  line-height: 61px;
}
/* line 103, ../sass/main.scss */
.container .middle-header .title-month .desc {
  height: 22px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 1.18px;
  line-height: 24px;
  margin-top: 10px;
}
/* line 114, ../sass/main.scss */
.container .middle-header .ticket-button {
  height: 61px;
  border-radius: 35px;
  background-color: #C9142E;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 55px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* line 129, ../sass/main.scss */
.container .middle-header .timer {
  display: flex;
  justify-content: space-around;
}
/* line 134, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section {
  height: 115px;
  width: 110px;
  background-color: #D44A18;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
/* line 146, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-amount {
  height: 41px;
  width: 55px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 46px;
  letter-spacing: 0.12px;
  line-height: 44px;
}
/* line 155, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-period {
  height: 12px;
  width: 42px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 14px;
  letter-spacing: 0.04px;
  line-height: 13px;
  text-align: center;
  margin-top: 15px;
}
/* line 174, ../sass/main.scss */
.container .bottom-top-header {
  margin-top: 70px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0.06px;
  line-height: 64px;
}
/* line 187, ../sass/main.scss */
.container .bottom-middle-header {
  margin-top: 100px;
  padding-left: 2%;
  height: 230px;
}
/* line 191, ../sass/main.scss */
.container .bottom-middle-header .mark {
  background: url("../img/shape.png");
  height: 80px;
  width: 55px;
  margin: auto;
  margin-bottom: 20px;
}
/* line 198, ../sass/main.scss */
.container .bottom-middle-header .desc {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.06px;
  line-height: 34px;
  text-transform: uppercase;
}

/************************END TOP NAVIGATION MENU*************************************/
/**************************************MAIN*****************************************/
/* line 217, ../sass/main.scss */
main .brand-middle {
  margin-top: 10px;
  background: url("../img/g_13.png");
}
/* line 221, ../sass/main.scss */
main .brand-middle .counter {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 90px;
  letter-spacing: 3.84px;
  line-height: 86px;
  margin-left: 11%;
}
/* line 229, ../sass/main.scss */
main .brand-middle .strong {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 23px;
  letter-spacing: -0.04px;
  line-height: 23px;
  margin-left: 11%;
  text-transform: uppercase;
}
/* line 238, ../sass/main.scss */
main .brand-middle .msg {
  margin-top: 95px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.16px;
  line-height: 34px;
  margin-left: 4%;
}
/* line 246, ../sass/main.scss */
main .brand-middle .msg p {
  margin: 10px;
  pdding: 10px;
}
