/******************Global body tag******************************/
/* line 3, ../sass/main.scss */
body {
  background: url("../img/back.png");
}

/* line 8, ../sass/main.scss */
header .container {
  background: url("../img/mid_top.png");
  background-repeat: no-repeat;
}

/************************TOP NAVIGATION MENU*************************************/
/* line 23, ../sass/main.scss */
.container {
  max-width: 1220px;
  position: relative;
  /** LOGO **/
  /** END LOGO **/
  /** NAV MENU **/
  /** END NAV MENU **/
  /** LANGUAGE SWITCHER **/
  /** END LANGUAGE SWITCHER **/
  /** MIDDLE HEADER **/
  /**END MIDDLE HEADER **/
  /**BOTTOM TOP**/
  /** END BOTTOM TOP **/
  /** BOTTOM MIDDLE HEADER **/
  /** END BOTTOM MIDDLE HEADER **/
}
/* line 28, ../sass/main.scss */
.container .logo {
  height: 197px;
  width: 167px;
  background: url("../img/logo.png") no-repeat;
  background-position: center;
}
/* line 40, ../sass/main.scss */
.container .main-menu .navbar-toggler {
  margin: auto;
}
/* line 45, ../sass/main.scss */
.container .main-menu .navbar-nav a {
  color: #FFFFFF !important;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04px;
  line-height: 16px;
  padding: 0 !important;
  margin-right: 2.0rem;
  height: 35px;
}
/* line 55, ../sass/main.scss */
.container .main-menu .navbar-nav a:hover {
  border-bottom: #FFFFFF 3px solid;
}
/* line 63, ../sass/main.scss */
.container .language {
  position: absolute;
  right: 39px;
  top: 19px;
}
/* line 67, ../sass/main.scss */
.container .language ul {
  display: flex;
  width: 62px;
  justify-content: space-between;
}
/* line 72, ../sass/main.scss */
.container .language ul li a {
  font-family: "Gotham Pro";
  font-size: 18px;
  letter-spacing: 0.19px;
  line-height: 17px;
  color: #FFFFFF;
}
/* line 79, ../sass/main.scss */
.container .language ul li a.active {
  color: #A94729;
}
/* line 83, ../sass/main.scss */
.container .language ul li:first-child {
  border-right: 1px solid #FFFFFF;
  padding-right: 7px;
}
/* line 93, ../sass/main.scss */
.container .middle-header .title-month {
  text-align: center;
}
@media (min-width: 992px) {
  /* line 93, ../sass/main.scss */
  .container .middle-header .title-month {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  /* line 93, ../sass/main.scss */
  .container .middle-header .title-month {
    padding-left: 3%;
  }
}
/* line 101, ../sass/main.scss */
.container .middle-header .title-month .title {
  height: 57px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 64px;
  line-height: 61px;
}
/* line 108, ../sass/main.scss */
.container .middle-header .title-month .desc {
  height: 22px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 1.18px;
  line-height: 24px;
  margin-top: 10px;
}
/* line 119, ../sass/main.scss */
.container .middle-header .ticket-button {
  height: 61px;
  border-radius: 35px;
  background-color: #C9142E;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 55px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* line 134, ../sass/main.scss */
.container .middle-header .timer {
  display: flex;
  justify-content: space-around;
}
/* line 139, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section {
  height: 115px;
  width: 110px;
  background-color: #D44A18;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
/* line 151, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-amount {
  height: 41px;
  width: 55px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 46px;
  letter-spacing: 0.12px;
  line-height: 44px;
}
/* line 160, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-period {
  height: 12px;
  width: 42px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 14px;
  letter-spacing: 0.04px;
  line-height: 13px;
  text-align: center;
  margin-top: 15px;
}
/* line 179, ../sass/main.scss */
.container .bottom-top-header {
  margin-top: 70px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0.06px;
  line-height: 64px;
}
/* line 192, ../sass/main.scss */
.container .bottom-middle-header {
  margin-top: 100px;
  padding-left: 2%;
  height: 230px;
}
/* line 196, ../sass/main.scss */
.container .bottom-middle-header .mark {
  background: url("../img/shape.png");
  height: 80px;
  width: 55px;
  margin: auto;
  margin-bottom: 20px;
}
/* line 203, ../sass/main.scss */
.container .bottom-middle-header .desc {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.06px;
  line-height: 34px;
  text-transform: uppercase;
}

/************************END TOP NAVIGATION MENU*************************************/
/**************************************MAIN*****************************************/
/* line 220, ../sass/main.scss */
main {
  /** END BRAND MIDLLE */
  /** END MIDDLE CONTAINER **/
  /***************************** DINAMO ****************************************/
  /*********************MIDDLE CONTENT**********************/
}
/* line 222, ../sass/main.scss */
main .brand-middle {
  margin-top: 10px;
  background: url("../img/g_13.png");
}
/* line 226, ../sass/main.scss */
main .brand-middle .counter {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 90px;
  letter-spacing: 3.84px;
  line-height: 86px;
  margin-left: 11%;
}
/* line 234, ../sass/main.scss */
main .brand-middle .strong {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 23px;
  letter-spacing: -0.04px;
  line-height: 23px;
  margin-left: 11%;
  text-transform: uppercase;
}
/* line 243, ../sass/main.scss */
main .brand-middle .msg {
  margin-top: 95px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.16px;
  line-height: 34px;
  margin-left: 4%;
}
/* line 251, ../sass/main.scss */
main .brand-middle .msg p {
  margin: 10px;
  pdding: 10px;
}
/* line 259, ../sass/main.scss */
main .middle-container {
  background: white;
}
/* line 261, ../sass/main.scss */
main .middle-container .day_switcher {
  padding-top: 80px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* line 265, ../sass/main.scss */
main .middle-container .day_switcher ul {
  display: flex;
}
/* line 267, ../sass/main.scss */
main .middle-container .day_switcher ul li.active {
  background-color: #C9142E;
}
/* line 269, ../sass/main.scss */
main .middle-container .day_switcher ul li.active .title {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 34px;
}
/* line 277, ../sass/main.scss */
main .middle-container .day_switcher ul li.active .desc {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 286, ../sass/main.scss */
main .middle-container .day_switcher ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  height: 110px;
}
/* line 292, ../sass/main.scss */
main .middle-container .day_switcher ul li .title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 34px;
}
/* line 300, ../sass/main.scss */
main .middle-container .day_switcher ul li .desc {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 313, ../sass/main.scss */
main .day {
  display: none;
}
/* line 317, ../sass/main.scss */
main .table-wrapper .active {
  display: block;
}
/* line 320, ../sass/main.scss */
main .table-wrapper td {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 28px;
  letter-spacing: 0.07px;
  line-height: 26px;
}
/* line 327, ../sass/main.scss */
main .table-wrapper tr:hover {
  background-color: #FAB04F;
}
/* line 330, ../sass/main.scss */
main .table-wrapper .female {
  color: #CF4817;
  font-family: "Gotham Pro";
  font-size: 28px;
  letter-spacing: 0.07px;
  line-height: 26px;
}
/* line 341, ../sass/main.scss */
main .middle-bottom-container {
  background: url("../img/g_14.png");
  padding-top: 40px;
  height: 860px;
  /** END DINAMO BLOCK ***/
  /** END TABS **/
}
/* line 345, ../sass/main.scss */
main .middle-bottom-container .title-pl {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 30px 86px;
  padding-top: 50px;
}
/* line 353, ../sass/main.scss */
main .middle-bottom-container .dinamo-block {
  margin: 0 0 0 40px;
}
/* line 355, ../sass/main.scss */
main .middle-bottom-container .dinamo-block .title {
  height: 54px;
  width: 537px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 48px;
  letter-spacing: 0.13px;
  line-height: 54px;
}
/* line 364, ../sass/main.scss */
main .middle-bottom-container .dinamo-block .desc {
  height: 68px;
  width: 558px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.26px;
  line-height: 34px;
}
/* line 376, ../sass/main.scss */
main .middle-bottom-container .tabs {
  margin-top: 130px;
  margin-left: 45px;
}
/* line 380, ../sass/main.scss */
main .middle-bottom-container .tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}
/* line 388, ../sass/main.scss */
main .middle-bottom-container .tabs ul li.active {
  background: none;
}
/* line 391, ../sass/main.scss */
main .middle-bottom-container .tabs ul li {
  height: 77px;
  width: 194px;
  display: flex;
  border: 1px solid #FFFFFF;
  justify-content: center;
  align-items: center;
  background-color: #FAB04F;
}
/* line 399, ../sass/main.scss */
main .middle-bottom-container .tabs ul li a {
  height: 16px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 414, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle {
  color: white;
}
/* line 417, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li {
  display: none;
}
/* line 420, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.active {
  display: block;
}
/* line 423, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list .mark_n {
  height: 24px;
  width: 24px;
  background-color: #FAB04F;
  border-radius: 15px;
}
/* line 430, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first {
  position: absolute;
  left: 425px;
  font-size: 40px;
  top: 322px;
  display: flex;
  flex-direction: column;
}
/* line 437, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first .title {
  height: 62px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 445, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first .desc {
  height: 28px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 454, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second {
  position: absolute;
  left: 393px;
  font-size: 40px;
  top: 530px;
  display: flex;
  flex-direction: column;
}
/* line 461, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second .title {
  height: 62px;
  width: 162px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 470, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second .desc {
  height: 28px;
  width: 315px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
  text-transform: uppercase;
}
/* line 481, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third {
  position: absolute;
  right: 150px;
  font-size: 40px;
  top: 495px;
  display: flex;
  flex-direction: column;
}
/* line 488, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third span.title {
  height: 62px;
  width: 93px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 497, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third span.desc {
  height: 28px;
  width: 212px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 507, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth {
  position: absolute;
  right: 40px;
  font-size: 40px;
  top: 653px;
  display: flex;
  flex-direction: column;
}
/* line 514, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth span.title {
  height: 62px;
  width: 145px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 523, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth span.desc {
  height: 28px;
  width: 234px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 536, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first {
  position: absolute;
  left: 456px;
  font-size: 40px;
  top: 444px;
  display: flex;
  flex-direction: column;
}
/* line 543, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first span.title {
  height: 62px;
  width: 74px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 552, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first span.desc {
  height: 28px;
  width: 221px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 562, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.second {
  position: absolute;
  left: 690px;
  font-size: 40px;
  top: 415px;
  display: flex;
  flex-direction: column;
}
/* line 571, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.second span.desc ul li {
  display: block;
  width: 285px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 40px;
  text-transform: uppercase;
}
/* line 592, ../sass/main.scss */
main .bottom-top-container {
  background: url("../img/r_25.png");
  height: 830px;
  margin-top: 20px;
  position: relative;
}
/* line 597, ../sass/main.scss */
main .bottom-top-container .city-label {
  height: 51px;
  width: 164px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 50px;
  letter-spacing: 0.13px;
  line-height: 51px;
  padding: 90px 0 0 40px;
}
@media (min-width: 576px) {
  /* line 607, ../sass/main.scss */
  main .bottom-top-container .bottom-list {
    position: initial;
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  /* line 607, ../sass/main.scss */
  main .bottom-top-container .bottom-list {
    position: absolute;
    bottom: 17px;
  }
}
/* line 617, ../sass/main.scss */
main .bottom-top-container .bottom-list .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* line 621, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* line 626, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div .title {
  height: 43px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 46px;
}
/* line 634, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div .desc {
  height: 44px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 22px;
  text-align: center;
}
/* line 644, ../sass/main.scss */
main .bottom-top-container .bottom-list .row .odd {
  height: 194px;
  background-color: #245CC1;
}
/* line 648, ../sass/main.scss */
main .bottom-top-container .bottom-list .row .chh {
  height: 194px;
  background-color: #CF4817;
}
