/************************ BOTTOM - TOP ********/
/* line 12, ../sass/refactor.scss */
.bottom-top-container .middle-desc {
  margin-top: 10%;
}

/* line 20, ../sass/refactor.scss */
.bottom-top-container .first .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

/* line 28, ../sass/refactor.scss */
.bottom-top-container .first .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

/** First slide**/
/* line 36, ../sass/refactor.scss */
.bottom-top-container .middle-desc .top {
  margin-top: 7%;
}

/* line 40, ../sass/refactor.scss */
.bottom-top-container .img-brand-bottom {
  position: absolute;
}

/* line 44, ../sass/refactor.scss */
.bottom-top-container img {
  opacity: 0.3;
  width: 100%;
}

/* line 50, ../sass/refactor.scss */
.bottom-top-container .middle-desc .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

/* line 58, ../sass/refactor.scss */
.bottom-top-container .middle-desc .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

/* line 65, ../sass/refactor.scss */
.bottom-top-container .middle-desc .top .desc p {
  margin: 0;
}

/* line 69, ../sass/refactor.scss */
.bottom-top-container .single-item .middle ul {
  list-style: none;
  margin: 140px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* line 77, ../sass/refactor.scss */
.bottom-top-container .single-item .middle ul li {
  padding: 5px;
}

/* line 81, ../sass/refactor.scss */
.bottom-top-container .single-item .middle {
  margin-bottom: 150px;
}

/* line 85, ../sass/refactor.scss */
.bottom-top-container .single-item .middle ul li .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 126px;
  color: #000000;
}

@media (min-width: 768px) {
  /* line 95, ../sass/refactor.scss */
  .bottom-top-container .single-item .middle ul li .title {
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
  }

  /* line 104, ../sass/refactor.scss */
  .bottom-top-container .middle-desc .top .desc {
    /*font-size: 12px;*/
  }

  /* line 108, ../sass/refactor.scss */
  .bottom-top-container .middle-desc .top {
    margin-top: 1%;
  }
}
/* line 113, ../sass/refactor.scss */
.bottom-top-container .single-item .middle ul li .desc {
  display: block;
}

/* line 117, ../sass/refactor.scss */
.bottom-middle-container img, .bottom-bottom-container img, .footer-top-container img {
  width: 100%;
}

/* line 121, ../sass/refactor.scss */
table tr:hover {
  background: gray;
}

/* line 125, ../sass/refactor.scss */
.footer-top-container {
  margin-top: 50px;
  position: relative;
}

/* line 130, ../sass/refactor.scss */
.footer-top-container .img-brand img {
  height: 500px;
}

/* line 135, ../sass/refactor.scss */
.footer-top-container .footer-brand {
  position: absolute;
  top: 20%;
}

/* line 150, ../sass/refactor.scss */
.footer-top-container .footer-brand .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

/* line 159, ../sass/refactor.scss */
.footer-top-container .footer-brand .button {
  margin-top: 30px;
}

/* line 163, ../sass/refactor.scss */
.footer-middle-container {
  margin-top: 50px;
}

/* line 177, ../sass/refactor.scss */
.footer-middle-container .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

/* line 188, ../sass/refactor.scss */
.footer-middle-container iframe {
  width: 100%;
  height: 610px;
}
