@charset "UTF-8";
@font-face {
  font-family: "Gotham Pro";
  src: url('/fonts/GothaProReg.woff?1547579812') format('woff');
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url('/fonts/GothaProBla.woff?1547579740') format('woff');
}
@font-face {
  font-family: "Gotham Pro Light";
  src: url('/fonts/GothaProLig.woff?1547579816') format('woff');
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url('/fonts/GothaProMed.woff?1547579918') format('woff');
}
@font-face {
  font-family: "Gotham Pro Light Italic";
  src: url('/fonts/GothaProLigIta.woff?1401113290') format('woff');
}
@font-face {
  font-family: "Gotham Pro Bold";
  src: url('/fonts/GothaProBol.woff?1547579766') format('woff');
}
@font-face {
  font-family: "GothamPro-MediumItalic";
  src: url('/fonts/GothamProMediumItalic.woff?1547579922') format('woff');
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 1, ../sass/main.scss */
.container {
  max-width: 1220px;
}

/************************TOP NAVIGATION MENU*************************************/
/* line 14, ../sass/main.scss */
.main-menu {
  background: black;
}
/* line 17, ../sass/main.scss */
.main-menu .navbar-nav a {
  color: #FFFFFF !important;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04px;
  line-height: 16px;
  padding: 0 !important;
  margin-right: 0.5rem;
}
/* line 26, ../sass/main.scss */
.main-menu .navbar-nav a:hover {
  border-bottom: #FFFFFF 3px solid;
}

/************************END TOP NAVIGATION MENU*************************************/
/** REFACTOR **/
/* line 40, ../sass/main.scss */
:root {
  --jumbotron-padding-y: 3rem;
}

/* line 44, ../sass/main.scss */
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  /* line 52, ../sass/main.scss */
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}
/* line 58, ../sass/main.scss */
.jumbotron p:last-child {
  margin-bottom: 0;
}

/* line 62, ../sass/main.scss */
.jumbotron-heading {
  font-weight: 300;
}

/* line 66, ../sass/main.scss */
.jumbotron .container {
  max-width: 40rem;
}

/* line 70, ../sass/main.scss */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 75, ../sass/main.scss */
footer p {
  margin-bottom: .25rem;
}

/* line 80, ../sass/main.scss */
.tickets {
  width: 135px;
  height: 49px;
  order: 2;
  border-radius: unset;
  font-size: 16px;
  line-height: 36px;
}

/* line 89, ../sass/main.scss */
.tickets-middle {
  width: 174px;
  height: 54px;
  border-radius: unset;
}

/* line 95, ../sass/main.scss */
.brand {
  background-color: #C4C4C4;
  padding-left: 116px;
  border-radius: unset;
}

/* line 101, ../sass/main.scss */
.card-brand-top {
  width: 198px;
  height: 168px;
  background: #515151;
}

/* line 107, ../sass/main.scss */
.msg {
  font-family: Gotham Pro;
  color: #000000;
  padding: 10px 0;
}

/* line 113, ../sass/main.scss */
.msg-1 {
  font-size: 36px;
  line-height: normal;
}

/* line 118, ../sass/main.scss */
.msg-2 {
  font-size: 36px;
  line-height: 48px;
}

/* line 123, ../sass/main.scss */
.msg-3 {
  font-size: 24px;
  line-height: normal;
  padding-bottom: 20px;
}

/* line 129, ../sass/main.scss */
.brand-middle {
  position: relative;
  overflow: hidden;
}

/* line 134, ../sass/main.scss */
.brand-middle .img-brand {
  width: 100%;
  height: auto;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 143, ../sass/main.scss */
.brand-middle .img-brand {
  position: absolute;
}

/* line 147, ../sass/main.scss */
.strong {
  font-weight: bolder;
}

/* line 151, ../sass/main.scss */
.counter {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 126px;
}

/* line 159, ../sass/main.scss */
.program-title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
}

/* line 166, ../sass/main.scss */
.table-title {
  font-family: Gotham Pro;
  font-size: 32px;
  line-height: 48px;
  margin: 20px 0;
}

/* line 173, ../sass/main.scss */
.middle-bottom-container {
  background: #E5E5E5;
  background-clip: content-box;
}

/* line 178, ../sass/main.scss */
.title-pl {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 30px 86px;
  padding-top: 50px;
}

/* line 186, ../sass/main.scss */
.desc-pl {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 36px;
  margin-left: 86px;
}

/* line 193, ../sass/main.scss */
.tabs {
  margin-left: 50px;
}

/* line 197, ../sass/main.scss */
.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 38px;
}

/* line 204, ../sass/main.scss */
.tabs ul li {
  height: 73px;
}

/* line 208, ../sass/main.scss */
.tabs ul li:hover {
  background: #C4C4C4;
}

/*********************MIDDLE CONTENT**********************/
/***********TABS**********/
/* line 215, ../sass/main.scss */
.tabs ul a {
  padding-left: 33px;
  font-family: Gotham Pro;
  font-size: 24px;
  color: #000000;
  line-height: 70px;
  text-decoration-color: #0b2e13;
}

/* line 224, ../sass/main.scss */
.img-brand-middle ul.img-list {
  list-style: none;
}

/* line 228, ../sass/main.scss */
.img-brand-middle ul.img-list img {
  width: 100%;
}

/* line 232, ../sass/main.scss */
.img-brand-middle ul.img-list li {
  position: relative;
  display: none;
}

/* line 237, ../sass/main.scss */
.img-brand-middle ul.img-list li.active {
  display: block;
}

/* line 241, ../sass/main.scss */
.img-brand-middle ul.img-list li.first img, .img-brand-middle ul.img-list li.second img {
  filter: brightness(45%);
}

/*************FIRST IMAGE***************/
/* line 246, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.first {
  position: absolute;
  top: 41px;
  right: 110px;
  font-size: 25px;
}

/* line 253, ../sass/main.scss */
.img-brand-middle ul.img-list li span {
  font-family: Gothic A1;
  font-style: normal;
  line-height: normal;
  color: white;
}

/* line 260, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.first .title,
.img-brand-middle ul.img-list li.first span.second .title {
  font-weight: bold;
  font-size: 60px;
}

/* line 266, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.first .desc {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  width: 200px;
}

/* line 273, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.second {
  position: absolute;
  top: 162px;
  left: 103px;
  font-size: 25px;
}

/* line 280, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.second .desc {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  width: 200px;
  top: -24px;
  left: -3px;
}

/* line 289, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.first {
  position: absolute;
  top: 68px;
  right: 236px;
}

/* line 295, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.first .title {
  font-weight: bold;
  font-size: 60px;
}

/* line 300, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.first .desc {
  position: absolute;
  width: 250px;
}

/* line 305, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.second {
  position: absolute;
  top: 180px;
  left: 49px;
  font-size: 25px;
  width: 250px;
}

/* line 313, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.second .desc,
.img-brand-middle ul.img-list li.second span.second .desc {
  font-weight: 500;
  font-size: 18px;
}

/* line 319, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.third {
  position: absolute;
  bottom: 175px;
  right: 150px;
  font-size: 25px;
}

/* line 326, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.third {
  position: absolute;
  bottom: 230px;
  right: 17px;
  font-size: 25px;
  width: 307px;
}

/* line 334, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.third .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: normal;
  color: #FFFFFF;
}

/* line 343, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.third .desc {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  width: 250px;
}

/* line 350, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.third {
  font-weight: 500;
  font-size: 18px;
}

/* line 355, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.fourth {
  position: absolute;
  bottom: 45px;
  left: 100px;
  font-size: 25px;
}

/* line 362, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.fourth {
  position: absolute;
  bottom: 100px;
  left: 50px;
  font-size: 25px;
  width: 250px;
}

/* line 370, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.fourth .title {
  font-weight: bold;
  font-size: 60px;
  line-height: normal;
}

/* line 376, ../sass/main.scss */
.img-brand-middle ul.img-list li.second span.fourth .title {
  font-weight: bold;
  font-size: 60px;
}

/* line 381, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.fourth .desc,
.img-brand-middle ul.img-list li.second span.fourth .desc {
  position: absolute;
  left: 0px;
  top: -30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* line 391, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.fift,
.img-brand-middle ul.img-list li.second span.fift {
  position: absolute;
  bottom: 100px;
  right: 50px;
  width: 250px;
}

/* line 399, ../sass/main.scss */
.img-brand-middle ul.img-list li.first span.fift .desc,
.img-brand-middle ul.img-list li.second span.fift .desc {
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}

/* line 406, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.first {
  position: absolute;
  top: 30px;
  right: 87px;
  width: 250px;
}

/* line 413, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.second {
  position: absolute;
  bottom: 200px;
  left: 50px;
  width: 250px;
}

/* line 420, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.first .marker,
.img-brand-middle ul.img-list li.third span.second .marker {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  color: #000000;
  padding: 10px;
  background: white;
  opacity: 0.7;
}

/* line 433, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.first .title,
.img-brand-middle ul.img-list li.third span.second .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #000000;
  position: absolute;
  left: 49px;
  top: -9px;
  background: white;
  display: block;
  width: 200px;
  height: 60px;
  padding: 7px 0 0 10px;
}

/* line 451, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.first .desc,
.img-brand-middle ul.img-list li.third span.second .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  color: #000000;
  background: white;
  position: absolute;
  z-index: 10;
  bottom: 4px;
  left: 59px;
  opacity: 0.5;
}

/* line 467, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.third {
  position: absolute;
  bottom: 20px;
  left: 230px;
  position: absolute;
  bottom: 20px;
  left: 230px;
  background: black;
  padding: 10px;
}

/* line 479, ../sass/main.scss */
.img-brand-middle ul.img-list li.third span.third .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-align: center;
}

/************************ BOTTOM - TOP ********/
/* line 490, ../sass/main.scss */
.bottom-top-container .middle-desc {
  margin-top: 10%;
}

/* line 498, ../sass/main.scss */
.bottom-top-container .first .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

/* line 506, ../sass/main.scss */
.bottom-top-container .first .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

/** First slide**/
/* line 514, ../sass/main.scss */
.bottom-top-container .middle-desc .top {
  margin-top: 7%;
}

/* line 518, ../sass/main.scss */
.bottom-top-container .img-brand-bottom {
  position: absolute;
}

/* line 522, ../sass/main.scss */
.bottom-top-container img {
  opacity: 0.3;
  width: 100%;
}

/* line 528, ../sass/main.scss */
.bottom-top-container .middle-desc .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

/* line 536, ../sass/main.scss */
.bottom-top-container .middle-desc .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

/* line 543, ../sass/main.scss */
.bottom-top-container .middle-desc .top .desc p {
  margin: 0;
}

/* line 547, ../sass/main.scss */
.bottom-top-container .single-item .middle ul {
  list-style: none;
  margin: 140px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* line 555, ../sass/main.scss */
.bottom-top-container .single-item .middle ul li {
  padding: 5px;
}

/* line 559, ../sass/main.scss */
.bottom-top-container .single-item .middle {
  margin-bottom: 150px;
}

/* line 563, ../sass/main.scss */
.bottom-top-container .single-item .middle ul li .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 126px;
  color: #000000;
}

@media (min-width: 768px) {
  /* line 573, ../sass/main.scss */
  .bottom-top-container .single-item .middle ul li .title {
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
  }

  /* line 582, ../sass/main.scss */
  .bottom-top-container .middle-desc .top .desc {
    /*font-size: 12px;*/
  }

  /* line 586, ../sass/main.scss */
  .bottom-top-container .middle-desc .top {
    margin-top: 1%;
  }
}
/* line 591, ../sass/main.scss */
.bottom-top-container .single-item .middle ul li .desc {
  display: block;
}

/* line 595, ../sass/main.scss */
.bottom-middle-container img, .bottom-bottom-container img, .footer-top-container img {
  width: 100%;
}

/* line 599, ../sass/main.scss */
table tr:hover {
  background: gray;
}

/* line 603, ../sass/main.scss */
.footer-top-container {
  margin-top: 50px;
  position: relative;
}

/* line 608, ../sass/main.scss */
.footer-top-container .img-brand img {
  height: 500px;
}

/* line 613, ../sass/main.scss */
.footer-top-container .footer-brand {
  position: absolute;
  top: 20%;
}

/* line 618, ../sass/main.scss */
.footer-top-container .footer-brand .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* line 628, ../sass/main.scss */
.footer-top-container .footer-brand .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

/* line 637, ../sass/main.scss */
.footer-top-container .footer-brand .button {
  margin-top: 30px;
}

/* line 641, ../sass/main.scss */
.footer-middle-container {
  margin-top: 50px;
}

/* line 645, ../sass/main.scss */
.footer-middle-container .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  color: #000000;
}

/* line 655, ../sass/main.scss */
.footer-middle-container .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

/* line 666, ../sass/main.scss */
.footer-middle-container iframe {
  width: 100%;
  height: 610px;
}

/* line 671, ../sass/main.scss */
.footer-middle-container .youtube {
  text-align: center;
  margin: auto;
}

/* line 676, ../sass/main.scss */
.footer-bottom-container {
  background: #E5E5E5;
  padding-top: 51px;
}

/* line 681, ../sass/main.scss */
.title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  margin-top: 30px;
  color: #000000;
}

/* line 692, ../sass/main.scss */
.footer-bottom-container .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

/* line 701, ../sass/main.scss */
.footer-bottom-container .desc p {
  padding: 0;
  margin: 0;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Slider */
/* line 5, ../sass/print.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 24, ../sass/print.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/print.scss */
.slick-list:focus {
  outline: none;
}

/* line 38, ../sass/print.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 44, ../sass/print.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 54, ../sass/print.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 64, ../sass/print.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 71, ../sass/print.scss */
.slick-track:after {
  clear: both;
}

/* line 75, ../sass/print.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 80, ../sass/print.scss */
.slick-slide {
  display: none;
  float: left;
  /*height: 100%;*/
  min-height: 1px;
}

/* line 88, ../sass/print.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 92, ../sass/print.scss */
.slick-slide img {
  display: block;
}

/* line 96, ../sass/print.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 100, ../sass/print.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 104, ../sass/print.scss */
.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

/* line 109, ../sass/print.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 113, ../sass/print.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 121, ../sass/print.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
/* line 8, ../sass/prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
/* line 31, ../sass/prism.scss */
pre[class*="language-"] {
  position: relative;
  margin: 0 10px 20px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  background-size: 3em 3em;
  background-origin: content-box;
  overflow: visible;
}

/* line 42, ../sass/prism.scss */
code[class*="language"] {
  background: black;
  max-height: inherit;
  padding: 0px 15px;
  display: block;
  overflow: auto;
}

/* Margin bottom to accomodate shadow */
/* line 51, ../sass/prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
/* line 61, ../sass/prism.scss */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 73, ../sass/prism.scss */
:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 84, ../sass/prism.scss */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

/* line 92, ../sass/prism.scss */
.token.punctuation {
  color: white;
}

/* line 96, ../sass/prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #9b59b6;
}

/* line 107, ../sass/prism.scss */
.token.string {
  color: #e74c3c;
}

/* line 111, ../sass/prism.scss */
.token.selector,
.token.attr-name,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #3498db;
}

/* line 120, ../sass/prism.scss */
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: white;
}

/* line 127, ../sass/prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #f1c40f;
}

/* line 134, ../sass/prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 139, ../sass/prism.scss */
.language-css .token.string,
.style .token.string {
  color: #e74c3c;
  background: rgba(255, 255, 255, 0.5);
}

/* line 145, ../sass/prism.scss */
.token.important {
  font-weight: normal;
}

/* line 149, ../sass/prism.scss */
.token.entity {
  cursor: help;
}

/* line 153, ../sass/prism.scss */
.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  /* line 158, ../sass/prism.scss */
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* Plugin styles */
/* line 169, ../sass/prism.scss */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
/* line 176, ../sass/prism.scss */
pre[class*="language-"].line-numbers {
  padding-left: 0;
}

/* line 180, ../sass/prism.scss */
pre[class*="language-"].line-numbers code {
  padding-left: 3.8em;
}

/* line 184, ../sass/prism.scss */
pre[class*="language-"].line-numbers .line-numbers-rows {
  left: 0;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../sass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../sass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../sass/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Slider */
/* line 2, ../sass/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../sass/slick.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/slick.scss */
.slick-list:focus {
  outline: none;
}

/* line 35, ../sass/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 41, ../sass/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 51, ../sass/slick.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 61, ../sass/slick.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 68, ../sass/slick.scss */
.slick-track:after {
  clear: both;
}

/* line 72, ../sass/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 77, ../sass/slick.scss */
.slick-slide {
  display: none;
  float: left;
  /*height: 100%;*/
  min-height: 1px;
}

/* line 85, ../sass/slick.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 89, ../sass/slick.scss */
.slick-slide img {
  display: block;
}

/* line 93, ../sass/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 97, ../sass/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 101, ../sass/slick.scss */
.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

/* line 106, ../sass/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 110, ../sass/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 118, ../sass/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 3, ../sass/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
/* line 18, ../sass/slick-theme.scss */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/* line 43, ../sass/slick-theme.scss */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

/* line 52, ../sass/slick-theme.scss */
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

/* line 59, ../sass/slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

/* line 64, ../sass/slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 77, ../sass/slick-theme.scss */
.slick-prev {
  left: -25px;
}

/* line 81, ../sass/slick-theme.scss */
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

/* line 86, ../sass/slick-theme.scss */
.slick-prev:before {
  content: '←';
}

/* line 90, ../sass/slick-theme.scss */
[dir='rtl'] .slick-prev:before {
  content: '→';
}

/* line 94, ../sass/slick-theme.scss */
.slick-next {
  right: -25px;
}

/* line 98, ../sass/slick-theme.scss */
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* line 103, ../sass/slick-theme.scss */
.slick-next:before {
  content: '→';
}

/* line 107, ../sass/slick-theme.scss */
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
/* line 112, ../sass/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 116, ../sass/slick-theme.scss */
.slick-dots {
  bottom: 20%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 131, ../sass/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  background: gray;
  top: -50px;
  border-radius: 10px;
  cursor: pointer;
}

/* line 146, ../sass/slick-theme.scss */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

/* line 164, ../sass/slick-theme.scss */
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 169, ../sass/slick-theme.scss */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 174, ../sass/slick-theme.scss */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 196, ../sass/slick-theme.scss */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
