@charset "UTF-8";
@font-face {
  font-family: "Gotham Pro";
  src: url('/fonts/GothaProReg.woff?1547579812') format('woff');
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url('/fonts/GothaProBla.woff?1547579740') format('woff');
}
@font-face {
  font-family: "Gotham Pro Light";
  src: url('/fonts/GothaProLig.woff?1547579816') format('woff');
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url('/fonts/GothaProMed.woff?1547579918') format('woff');
}
@font-face {
  font-family: "Gotham Pro Light Italic";
  src: url('/fonts/GothaProLigIta.woff?1401113290') format('woff');
}
@font-face {
  font-family: "Gotham Pro Bold";
  src: url('/fonts/GothaProBol.woff?1547579766') format('woff');
}
@font-face {
  font-family: "GothamPro-MediumItalic";
  src: url('/fonts/GothamProMediumItalic.woff?1547579922') format('woff');
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/******************Global body tag******************************/
/* line 3, ../sass/main.scss */
body {
  background: url("../img/back.png");
}

/* line 8, ../sass/main.scss */
header .container {
  background: url("../img/mid_top.png");
  background-repeat: no-repeat;
}

/************************TOP NAVIGATION MENU*************************************/
/* line 23, ../sass/main.scss */
.container {
  max-width: 1220px;
  position: relative;
  /** LOGO **/
  /** END LOGO **/
  /** NAV MENU **/
  /** END NAV MENU **/
  /** LANGUAGE SWITCHER **/
  /** END LANGUAGE SWITCHER **/
  /** MIDDLE HEADER **/
  /**END MIDDLE HEADER **/
  /**BOTTOM TOP**/
  /** END BOTTOM TOP **/
  /** BOTTOM MIDDLE HEADER **/
  /** END BOTTOM MIDDLE HEADER **/
}
/* line 28, ../sass/main.scss */
.container .logo {
  height: 197px;
  width: 167px;
  background: url("../img/logo.png") no-repeat;
  background-position: center;
}
/* line 40, ../sass/main.scss */
.container .main-menu .navbar-toggler {
  margin: auto;
}
/* line 45, ../sass/main.scss */
.container .main-menu .navbar-nav a {
  color: #FFFFFF !important;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04px;
  line-height: 16px;
  padding: 0 !important;
  margin-right: 2.0rem;
  height: 35px;
}
/* line 55, ../sass/main.scss */
.container .main-menu .navbar-nav a:hover {
  border-bottom: #FFFFFF 3px solid;
}
/* line 63, ../sass/main.scss */
.container .language {
  position: absolute;
  right: 39px;
  top: 19px;
}
/* line 67, ../sass/main.scss */
.container .language ul {
  display: flex;
  width: 62px;
  justify-content: space-between;
}
/* line 72, ../sass/main.scss */
.container .language ul li a {
  font-family: "Gotham Pro";
  font-size: 18px;
  letter-spacing: 0.19px;
  line-height: 17px;
  color: #FFFFFF;
}
/* line 79, ../sass/main.scss */
.container .language ul li a.active {
  color: #A94729;
}
/* line 83, ../sass/main.scss */
.container .language ul li:first-child {
  border-right: 1px solid #FFFFFF;
  padding-right: 7px;
}
/* line 93, ../sass/main.scss */
.container .middle-header .title-month {
  text-align: center;
}
@media (min-width: 992px) {
  /* line 93, ../sass/main.scss */
  .container .middle-header .title-month {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  /* line 93, ../sass/main.scss */
  .container .middle-header .title-month {
    padding-left: 3%;
  }
}
/* line 101, ../sass/main.scss */
.container .middle-header .title-month .title {
  height: 57px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 64px;
  line-height: 61px;
}
/* line 108, ../sass/main.scss */
.container .middle-header .title-month .desc {
  height: 22px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 1.18px;
  line-height: 24px;
  margin-top: 10px;
}
/* line 119, ../sass/main.scss */
.container .middle-header .ticket-button {
  height: 61px;
  border-radius: 35px;
  background-color: #C9142E;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 55px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* line 134, ../sass/main.scss */
.container .middle-header .timer {
  display: flex;
  justify-content: space-around;
}
/* line 139, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section {
  height: 115px;
  width: 110px;
  background-color: #D44A18;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
/* line 151, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-amount {
  height: 41px;
  width: 55px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 46px;
  letter-spacing: 0.12px;
  line-height: 44px;
}
/* line 160, ../sass/main.scss */
.container .middle-header .timer .countdown-row .countdown-section .countdown-period {
  height: 12px;
  width: 42px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 14px;
  letter-spacing: 0.04px;
  line-height: 13px;
  text-align: center;
  margin-top: 15px;
}
/* line 179, ../sass/main.scss */
.container .bottom-top-header {
  margin-top: 70px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0.06px;
  line-height: 64px;
}
/* line 192, ../sass/main.scss */
.container .bottom-middle-header {
  margin-top: 100px;
  padding-left: 2%;
  height: 230px;
}
/* line 196, ../sass/main.scss */
.container .bottom-middle-header .mark {
  background: url("../img/shape.png");
  height: 80px;
  width: 55px;
  margin: auto;
  margin-bottom: 20px;
}
/* line 203, ../sass/main.scss */
.container .bottom-middle-header .desc {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.06px;
  line-height: 34px;
  text-transform: uppercase;
}

/************************END TOP NAVIGATION MENU*************************************/
/**************************************MAIN*****************************************/
/* line 220, ../sass/main.scss */
main {
  /** END BRAND MIDLLE */
  /** END MIDDLE CONTAINER **/
  /***************************** DINAMO ****************************************/
  /*********************MIDDLE CONTENT**********************/
  /** END BOTTOM TOP CONTAINER **/
  /** END BOTTOM MIDDLE CONTAINER **/
}
/* line 222, ../sass/main.scss */
main .brand-middle {
  margin-top: 10px;
  background: url("../img/g_13.png");
}
/* line 226, ../sass/main.scss */
main .brand-middle .counter {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 90px;
  letter-spacing: 3.84px;
  line-height: 86px;
  margin-left: 11%;
}
/* line 234, ../sass/main.scss */
main .brand-middle .strong {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 23px;
  letter-spacing: -0.04px;
  line-height: 23px;
  margin-left: 11%;
  text-transform: uppercase;
}
/* line 243, ../sass/main.scss */
main .brand-middle .msg {
  margin-top: 95px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.16px;
  line-height: 34px;
  margin-left: 4%;
}
/* line 251, ../sass/main.scss */
main .brand-middle .msg p {
  margin: 10px;
  pdding: 10px;
}
/* line 259, ../sass/main.scss */
main .middle-container {
  background: white;
}
/* line 261, ../sass/main.scss */
main .middle-container .day_switcher {
  padding-top: 80px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* line 265, ../sass/main.scss */
main .middle-container .day_switcher ul {
  display: flex;
}
/* line 267, ../sass/main.scss */
main .middle-container .day_switcher ul li.active {
  background-color: #C9142E;
}
/* line 269, ../sass/main.scss */
main .middle-container .day_switcher ul li.active .title {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 34px;
}
/* line 277, ../sass/main.scss */
main .middle-container .day_switcher ul li.active .desc {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 286, ../sass/main.scss */
main .middle-container .day_switcher ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  height: 110px;
}
/* line 292, ../sass/main.scss */
main .middle-container .day_switcher ul li .title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 34px;
}
/* line 300, ../sass/main.scss */
main .middle-container .day_switcher ul li .desc {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 313, ../sass/main.scss */
main .day {
  display: none;
}
/* line 317, ../sass/main.scss */
main .table-wrapper .active {
  display: block;
}
/* line 320, ../sass/main.scss */
main .table-wrapper td {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 28px;
  letter-spacing: 0.07px;
  line-height: 26px;
}
/* line 327, ../sass/main.scss */
main .table-wrapper tr:hover {
  background-color: #FAB04F;
}
/* line 330, ../sass/main.scss */
main .table-wrapper .female {
  color: #CF4817;
  font-family: "Gotham Pro";
  font-size: 28px;
  letter-spacing: 0.07px;
  line-height: 26px;
}
/* line 341, ../sass/main.scss */
main .middle-bottom-container {
  background: url("../img/g_14.png");
  padding-top: 40px;
  height: 860px;
  /** END DINAMO BLOCK ***/
  /** END TABS **/
}
/* line 345, ../sass/main.scss */
main .middle-bottom-container .title-pl {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 30px 86px;
  padding-top: 50px;
}
/* line 353, ../sass/main.scss */
main .middle-bottom-container .dinamo-block {
  margin: 0 0 0 40px;
}
/* line 355, ../sass/main.scss */
main .middle-bottom-container .dinamo-block .title {
  height: 54px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 48px;
  letter-spacing: 0.13px;
  line-height: 54px;
}
/* line 363, ../sass/main.scss */
main .middle-bottom-container .dinamo-block .desc {
  height: 68px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.26px;
  line-height: 34px;
}
/* line 374, ../sass/main.scss */
main .middle-bottom-container .tabs {
  margin-top: 130px;
  margin-left: 45px;
}
/* line 378, ../sass/main.scss */
main .middle-bottom-container .tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}
/* line 386, ../sass/main.scss */
main .middle-bottom-container .tabs ul li.active {
  background: none;
}
/* line 389, ../sass/main.scss */
main .middle-bottom-container .tabs ul li {
  height: 77px;
  width: 194px;
  display: flex;
  border: 1px solid #FFFFFF;
  justify-content: center;
  align-items: center;
  background-color: #FAB04F;
}
/* line 397, ../sass/main.scss */
main .middle-bottom-container .tabs ul li a {
  height: 16px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 17px;
}
/* line 412, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle {
  color: white;
}
/* line 415, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li {
  display: none;
}
/* line 418, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.active {
  display: block;
}
/* line 421, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list .mark_n {
  height: 24px;
  width: 24px;
  background-color: #FAB04F;
  border-radius: 15px;
}
/* line 428, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first {
  position: absolute;
  left: 425px;
  font-size: 40px;
  top: 322px;
  display: flex;
  flex-direction: column;
}
/* line 435, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first .title {
  height: 62px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 443, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.first .desc {
  height: 28px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 452, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second {
  position: absolute;
  left: 393px;
  font-size: 40px;
  top: 530px;
  display: flex;
  flex-direction: column;
}
/* line 459, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second .title {
  height: 62px;
  width: 162px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 468, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.second .desc {
  height: 28px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
  text-transform: uppercase;
}
/* line 478, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third {
  position: absolute;
  right: 150px;
  font-size: 40px;
  top: 495px;
  display: flex;
  flex-direction: column;
}
/* line 485, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third span.title {
  height: 62px;
  width: 93px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 494, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.third span.desc {
  height: 28px;
  width: 212px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 504, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth {
  position: absolute;
  right: 40px;
  font-size: 40px;
  top: 653px;
  display: flex;
  flex-direction: column;
}
/* line 511, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth span.title {
  height: 62px;
  width: 145px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 520, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.first span.fourth span.desc {
  height: 28px;
  width: 234px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 533, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first {
  position: absolute;
  left: 456px;
  font-size: 40px;
  top: 444px;
  display: flex;
  flex-direction: column;
}
/* line 540, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first span.title {
  height: 62px;
  width: 74px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 70px;
  letter-spacing: 2.98px;
  line-height: 67px;
}
/* line 549, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.first span.desc {
  height: 28px;
  width: 221px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 28px;
}
/* line 559, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.second {
  position: absolute;
  left: 690px;
  font-size: 40px;
  top: 415px;
  display: flex;
  flex-direction: column;
}
/* line 568, ../sass/main.scss */
main .middle-bottom-container .img-brand-middle ul.img-list li.second span.second span.desc ul li {
  display: block;
  width: 285px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.05px;
  line-height: 40px;
  text-transform: uppercase;
}
/* line 589, ../sass/main.scss */
main .bottom-top-container {
  background: url("../img/r_25.png");
  height: 830px;
  margin-top: 20px;
  position: relative;
}
/* line 594, ../sass/main.scss */
main .bottom-top-container .city-label {
  height: 51px;
  width: 164px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 50px;
  letter-spacing: 0.13px;
  line-height: 51px;
  padding: 90px 0 0 40px;
}
@media (min-width: 576px) {
  /* line 604, ../sass/main.scss */
  main .bottom-top-container .bottom-list {
    position: initial;
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  /* line 604, ../sass/main.scss */
  main .bottom-top-container .bottom-list {
    position: absolute;
    bottom: 17px;
  }
}
/* line 614, ../sass/main.scss */
main .bottom-top-container .bottom-list .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* line 618, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* line 623, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div .title {
  height: 43px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 46px;
}
/* line 631, ../sass/main.scss */
main .bottom-top-container .bottom-list .row div .desc {
  height: 44px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 22px;
  text-align: center;
}
/* line 641, ../sass/main.scss */
main .bottom-top-container .bottom-list .row .odd {
  height: 194px;
  background-color: #245CC1;
}
/* line 645, ../sass/main.scss */
main .bottom-top-container .bottom-list .row .chh {
  height: 194px;
  background-color: #CF4817;
}
/* line 655, ../sass/main.scss */
main .bottom-middle-container {
  margin-top: 20px;
  background: url("../img/r_ 27.png");
  height: 720px;
}
/* line 659, ../sass/main.scss */
main .bottom-middle-container .part {
  padding: 197px 0 0 40px;
}
/* line 661, ../sass/main.scss */
main .bottom-middle-container .part .title {
  height: 51px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 50px;
  letter-spacing: 0.13px;
  line-height: 51px;
}
/* line 669, ../sass/main.scss */
main .bottom-middle-container .part .desc {
  margin-top: 40px;
  height: 102px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 24px;
  letter-spacing: 0.26px;
  line-height: 34px;
}
/* line 678, ../sass/main.scss */
main .bottom-middle-container .part .button {
  height: 61px;
  width: 250px;
  border-radius: 35px;
  background-color: #245CC1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}
/* line 693, ../sass/main.scss */
main .bottom-bottom-container {
  margin-top: 20px;
  height: 801px;
  background-color: #ECECEC;
}
/* line 699, ../sass/main.scss */
main .bottom-footer-container {
  margin-top: 20px;
  padding-top: 110px;
  background: white;
}
/* line 703, ../sass/main.scss */
main .bottom-footer-container .title, main .bottom-footer-container .email-first, main .bottom-footer-container .email-second {
  height: 160px;
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 40px;
  letter-spacing: 0.11px;
  line-height: 40px;
}

/* line 716, ../sass/main.scss */
body.eng .bottom-top-container {
  height: auto;
}
/* line 718, ../sass/main.scss */
body.eng .bottom-top-container .bottom-list {
  position: initial;
}
/* line 720, ../sass/main.scss */
body.eng .bottom-top-container .bottom-list .odd {
  height: auto;
}
/* line 722, ../sass/main.scss */
body.eng .bottom-top-container .bottom-list .odd .desc {
  padding: 10px;
  height: auto;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Slider */
/* line 5, ../sass/print.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 24, ../sass/print.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/print.scss */
.slick-list:focus {
  outline: none;
}

/* line 38, ../sass/print.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 44, ../sass/print.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 54, ../sass/print.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 64, ../sass/print.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 71, ../sass/print.scss */
.slick-track:after {
  clear: both;
}

/* line 75, ../sass/print.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 80, ../sass/print.scss */
.slick-slide {
  display: none;
  float: left;
  /*height: 100%;*/
  min-height: 1px;
}

/* line 88, ../sass/print.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 92, ../sass/print.scss */
.slick-slide img {
  display: block;
}

/* line 96, ../sass/print.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 100, ../sass/print.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 104, ../sass/print.scss */
.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

/* line 109, ../sass/print.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 113, ../sass/print.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 121, ../sass/print.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
/* line 8, ../sass/prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
/* line 31, ../sass/prism.scss */
pre[class*="language-"] {
  position: relative;
  margin: 0 10px 20px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  background-size: 3em 3em;
  background-origin: content-box;
  overflow: visible;
}

/* line 42, ../sass/prism.scss */
code[class*="language"] {
  background: black;
  max-height: inherit;
  padding: 0px 15px;
  display: block;
  overflow: auto;
}

/* Margin bottom to accomodate shadow */
/* line 51, ../sass/prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
/* line 61, ../sass/prism.scss */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 73, ../sass/prism.scss */
:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 84, ../sass/prism.scss */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

/* line 92, ../sass/prism.scss */
.token.punctuation {
  color: white;
}

/* line 96, ../sass/prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #9b59b6;
}

/* line 107, ../sass/prism.scss */
.token.string {
  color: #e74c3c;
}

/* line 111, ../sass/prism.scss */
.token.selector,
.token.attr-name,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #3498db;
}

/* line 120, ../sass/prism.scss */
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: white;
}

/* line 127, ../sass/prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #f1c40f;
}

/* line 134, ../sass/prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 139, ../sass/prism.scss */
.language-css .token.string,
.style .token.string {
  color: #e74c3c;
  background: rgba(255, 255, 255, 0.5);
}

/* line 145, ../sass/prism.scss */
.token.important {
  font-weight: normal;
}

/* line 149, ../sass/prism.scss */
.token.entity {
  cursor: help;
}

/* line 153, ../sass/prism.scss */
.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  /* line 158, ../sass/prism.scss */
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* Plugin styles */
/* line 169, ../sass/prism.scss */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
/* line 176, ../sass/prism.scss */
pre[class*="language-"].line-numbers {
  padding-left: 0;
}

/* line 180, ../sass/prism.scss */
pre[class*="language-"].line-numbers code {
  padding-left: 3.8em;
}

/* line 184, ../sass/prism.scss */
pre[class*="language-"].line-numbers .line-numbers-rows {
  left: 0;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../sass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../sass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../sass/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Slider */
/* line 2, ../sass/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../sass/slick.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/slick.scss */
.slick-list:focus {
  outline: none;
}

/* line 35, ../sass/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 41, ../sass/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 51, ../sass/slick.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 61, ../sass/slick.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 68, ../sass/slick.scss */
.slick-track:after {
  clear: both;
}

/* line 72, ../sass/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 77, ../sass/slick.scss */
.slick-slide {
  display: none;
  float: left;
  /*height: 100%;*/
  min-height: 1px;
}

/* line 85, ../sass/slick.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 89, ../sass/slick.scss */
.slick-slide img {
  display: block;
}

/* line 93, ../sass/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 97, ../sass/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 101, ../sass/slick.scss */
.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

/* line 106, ../sass/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 110, ../sass/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 118, ../sass/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 3, ../sass/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
/* line 18, ../sass/slick-theme.scss */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/* line 43, ../sass/slick-theme.scss */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

/* line 52, ../sass/slick-theme.scss */
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

/* line 59, ../sass/slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

/* line 64, ../sass/slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 77, ../sass/slick-theme.scss */
.slick-prev {
  left: -25px;
}

/* line 81, ../sass/slick-theme.scss */
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

/* line 86, ../sass/slick-theme.scss */
.slick-prev:before {
  content: '←';
}

/* line 90, ../sass/slick-theme.scss */
[dir='rtl'] .slick-prev:before {
  content: '→';
}

/* line 94, ../sass/slick-theme.scss */
.slick-next {
  right: -25px;
}

/* line 98, ../sass/slick-theme.scss */
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* line 103, ../sass/slick-theme.scss */
.slick-next:before {
  content: '→';
}

/* line 107, ../sass/slick-theme.scss */
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
/* line 112, ../sass/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 116, ../sass/slick-theme.scss */
.slick-dots {
  bottom: 20%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 131, ../sass/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  background: gray;
  top: -50px;
  border-radius: 10px;
  cursor: pointer;
}

/* line 146, ../sass/slick-theme.scss */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

/* line 164, ../sass/slick-theme.scss */
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 169, ../sass/slick-theme.scss */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 174, ../sass/slick-theme.scss */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 196, ../sass/slick-theme.scss */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
