@include font-face('Gotham Pro',font-files('GothaProReg.woff'));
@include font-face('Gotham Pro Black',font-files('GothaProBla.woff'));
@include font-face('Gotham Pro Light',font-files('GothaProLig.woff'));
@include font-face('Gotham Pro Medium',font-files('GothaProMed.woff'));
@include font-face('Gotham Pro Light Italic',font-files('GothaProLigIta.woff'));
@include font-face('Gotham Pro Bold',font-files('GothaProBol.woff'));
@include font-face('GothamPro-MediumItalic',font-files('GothamProMediumItalic.woff'));
@include font-face('icons',font-files('icons.woff'));

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-fb:before {
  content: "\e901";
}
.iconfont-instagram:before {
  content: "\e902";
}
.iconfont-arrow_left:before {
  content: "\e903";
}
.iconfont-arrow_right:before {
  content: "\e900";
}

