/******************Global body tag******************************/

body {
  background: url("../img/bg.jpg");
  background-position: 50% 180px;
  background-repeat: no-repeat;
}

header {
  .container {
    background: url("../img/block1.jpg");
    background-repeat: no-repeat;
  }

}

iframe,
img {
  max-width: 100%;
}

.button {
  a {
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;

  &.btn-primary {
    background-color: #245CA3;
    border-color: #245CA3;
    $hover: lighten(#245CA3, 10%);
    &:hover,
    &.active {
      background-color: $hover;
      border-color: $hover;
    }
  }

  &.btn-rounded {
    @include border-radius(500px);
  }

  &.btn-lg {
    min-width: 250px;
    line-height: 58px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 0.0465642px;
  }

  &.focus,
  &:focus {
    box-shadow: none;
  }
}

/************************TOP NAVIGATION MENU*************************************/

// Variables.
$gotham_pro_font_family: "Gotham Pro", Arial, sans-serif;
$font_medium: "Gotham Pro Medium", Arial, sans-serif;
$font_light: "Gotham Pro Light", Arial, sans-serif;
$medium_font_size: 16px;
$medium_line_height: 16px;
$white_color: #FFFFFF;
$grid_gap: 15px;
$container_width: 1220px;

html body {
  font-family: $gotham_pro_font_family;
}

.container {
  max-width: 1220px;
  position: relative;

  /** LOGO **/
  .logo {
    height: 197px;
    width: 167px;
    background: url("../img/logo.png") no-repeat;
    background-position: center;

  }

  /** END LOGO **/

  /** NAV MENU **/
  .main-menu {

    .navbar-toggler {
      margin: auto;
    }

    .navbar-nav {

      a {
        color: $white_color !important;
        font-family: $gotham_pro_font_family;
        font-size: $medium_font_size;
        letter-spacing: 0.04px;
        line-height: $medium_line_height;
        padding: 0 !important;
        margin-right: 2.0rem;
        height: 35px;
      }

      a:hover {
        border-bottom: $white_color 3px solid;
      }
    }
  }

  /** END NAV MENU **/

  /** LANGUAGE SWITCHER **/
  .language {
    position: absolute;
    right: 39px;
    top: 19px;

    ul {
      display: flex;
      width: 62px;
      justify-content: space-between;

      li {
        a {
          font-family: "Gotham Pro";
          font-size: 18px;
          letter-spacing: 0.19px;
          line-height: 17px;
          color: $white_color;
        }

        a.active {
          color: #FAB03B;
        }
      }

      li:first-child {
        border-right: 1px solid $white_color;
        padding-right: 7px;
      }
    }
  }

  /** END LANGUAGE SWITCHER **/

  /** MIDDLE HEADER **/
  .middle-header {
    .title-month {
      @media (min-width: 992px) {
        padding: 0;
      }
      @media (min-width: 1200px) {
        padding-left: 3%;
      }
      text-align: center;

      .title {
        height: 57px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 64px;
        line-height: 61px;
      }

      .desc {
        height: 22px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 24px;
        letter-spacing: 1.18px;
        line-height: 24px;
        margin-top: 10px;
      }
    }

    .ticket-button {
      height: 61px;
      border-radius: 35px;
      background-color: #C9142E;
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05px;
      margin-top: 15px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .timer {
      display: flex;
      justify-content: space-around;

      .countdown-row {
        .countdown-section {

          height: 115px;
          width: 110px;
          background: linear-gradient(180deg, rgba(38, 41, 89, 0) 0%, #262959 100%);
          display: flex;
          flex-direction: column;
          float: left;
          margin-right: 5px;
          justify-content: center;
          align-items: center;

          .countdown-amount {
            height: 41px;
            width: 55px;
            color: #FFFFFF;
            letter-spacing: 0.12px;
            display: flex;
            align-items: center;
            justify-content: center;
            //font-family: GothamPro;
            font-size: 50px;
            font-weight: bold;
          }

          .countdown-period {
            height: 12px;
            width: 42px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            text-align: center;
            letter-spacing: 0.132353px;
            //font-family: Gotham Pro;
            font-size: 14px;
            line-height: 12px;
            text-transform: uppercase;
          }

        }
      }
    }
  }

  /**END MIDDLE HEADER **/

  /**BOTTOM TOP**/
  .bottom-top-header {
    margin-top: 70px;
    color: #FFFFFF;
    font-family: "Gotham Pro";
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.06px;
    line-height: 64px;
    padding-left: 35px;

  }

  /** END BOTTOM TOP **/

  /** BOTTOM MIDDLE HEADER **/
  .bottom-middle-header {
    margin-top: 100px;
    padding-left: 2%;
    height: 230px;

    .mark {
      background: url("../img/Combined Shape.png");
      height: 80px;
      width: 55px;
      margin: auto;
      margin-bottom: 20px;
    }

    .desc {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 24px;
      letter-spacing: 0.06px;
      line-height: 34px;
      text-transform: uppercase;
    }
  }

  /** END BOTTOM MIDDLE HEADER **/

}

/************************END TOP NAVIGATION MENU*************************************/

/**************************************MAIN*****************************************/

main {

  .brand-middle {
    padding: 89px 36px 140px 40px;
    margin-top: 10px;
    background: url("../img/block2.jpg") 50% 0 no-repeat;
    @include background-size(cover);

    .counter-item {
      display: inline-block;
      vertical-align: top;
      margin-left: 82px;

      &:first-child {
        margin-left: 0;
      }
    }
    .counter {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 90px;
      letter-spacing: 3.84px;
      line-height: 86px;
    }

    .strong {
      margin-top: 21px;
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 23px;
      letter-spacing: -0.04px;
      line-height: 23px;
      text-transform: uppercase;
    }

    .bottom-content {
      margin-top: 85px;
      margin-left: -$grid_gap;
      margin-right: -$grid_gap;

      @media (min-width: 992px) {
        display: flex;
      }
    }

    $container_width: 1174px;
    .content-column {
      padding-left: $grid_gap;
      padding-right: $grid_gap;

      @media (min-width: 992px) {
        flex: 1;
      }
    }
    .image-column {
      padding-left: $grid_gap;
      padding-right: $grid_gap;

      @media (min-width: 992px) {
        $w: 374px + 2 * $grid_gap;
        flex: 0 0 $w;
        text-align: right;
      }
      @media (max-width: 991px) {
        text-align: center;
        max-width: 404px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .msg {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 24px;
      letter-spacing: 0.16px;
      line-height: 34px;

      p {
        margin-bottom: 34px;
      }
    }

    .winner-cup {
      margin-top: 13px;
      $h: 312px;
      height: $h;
      max-height: $h;
    }
    .competition-logos {
      margin-top: 34px;
      background: linear-gradient(90deg, #CDDBE8 0%, #E2EAE9 100%);
      padding: 6px 12px 5px;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 992px) {
        text-align: left;
      }

      .logo-item {
        //display: inline-block;
        flex: 1 1 auto;
        vertical-align: middle;
        padding-right: 12px;
        margin-bottom: 10px;
        text-align: left;

        &:nth-child(2n) {
          text-align: right;
        }

        &:nth-child(2n),
        &:last-child {
          padding-right: 0;
        }

        img {
          max-width: 223px;
          max-height: 86px;
        }
      }
    }
  }

  /** END BRAND MIDLLE */

  .middle-container {
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 44px;

    .day_switcher {
      padding-top: 90px;
      margin-top: 20px;
      margin-bottom: 50px;

      ul {
        display: flex;

        li.active {
          background-color: #C9142E;
          color: #FFFFFF;
        }

        li {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 20px;
          height: 110px;
          cursor: pointer;
          color: #fab03b;

          .title {
            font-family: $font_medium;
            font-size: 36px;
            letter-spacing: 0.2px;
            line-height: 34px;
          }

          .desc {
            font-family: $font_medium;
            font-size: 18px;
            letter-spacing: 0.05px;
            line-height: 17px;
          }
        }
      }
    }
  }

  /** END MIDDLE CONTAINER **/
  .day {
    display: none;
  }

  .table-wrapper {
    .first_day, .second_day {
      //height: 570px;
      overflow: hidden;
    }

    .active {
      display: block;
    }

    td {
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 28px;
      letter-spacing: 0.07px;
      line-height: 26px;
      border: 0;
      padding-top: 16px;
      padding-bottom: 16px;

      &:nth-child(1) {
        width: 100px;
      }
      &:nth-child(2) {
        font-size: 22px;
        text-transform: uppercase;
      }
    }

    tr {
      border: 1px solid #F1F1F1;

      &:nth-of-type(odd) {
        background-color: #F1F1F1;
      }
    }
    tr:hover {
      background-color: #C9142E;
      border-color: #C9142E;
      color: $white_color;

      td {
        color: $white_color;
      }
    }

    .female, .male {
      text-align: right;
    }

    .female {
      color: #FAB03B;
    }
    .male {
      color: #245CA3;
    }
  }

  /***************************** DINAMO ****************************************/

  .middle-bottom-container {
    margin-top: 20px;
    background: url("../img/g_14.png");
    padding-top: 50px;
    height: 860px;

    .title-pl {
      font-family: Gotham Pro;
      font-size: 36px;
      line-height: 48px;
      margin: 0 0 30px 86px;
      padding-top: 50px;
    }

    .dinamo-block {
      margin: 0 0 0 25px;
      max-width: 770px;

      .title {
        //height: 54px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 48px;
        letter-spacing: 0.13px;
        line-height: 54px;
      }

      .desc {
        margin-top: 13px;
        //height: 68px;
        color: #FFFFFF;
        font-family: $font_light;
        font-size: 24px;
        letter-spacing: 0.26px;
        line-height: 34px;
      }
    }

    /** END DINAMO BLOCK ***/

    .tabs {
      margin-top: 130px;
      margin-left: 25px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 38px;
        display: flex;
        flex-direction: column;

        li.active {
          background: transparent;
        }

        li {
          height: 77px;
          width: 194px;
          display: flex;
          border: 1px solid rgba($white_color, 0.5);
          justify-content: center;
          align-items: center;
          background: #FAB03B;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.05px;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
          }
        }
      }

    }

    /** END TABS **/

    .img-brand-middle {
      color: white;

      ul.img-list {
        li {
          display: none;
        }

        li.active {
          display: block;
        }

        .mark_n {
          height: 24px;
          width: 24px;
          background-color: #FAB04F;
          border-radius: 15px;
        }

        li.first {
          span.first {
            position: absolute;
            left: 425px;
            font-size: 40px;
            top: 322px;
            display: flex;
            flex-direction: column;

            .title {
              height: 62px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }

            .desc {
              height: 28px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }

          span.second {
            position: absolute;
            left: 393px;
            font-size: 40px;
            top: 530px;
            display: flex;
            flex-direction: column;

            .title {
              height: 62px;
              width: 162px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }

            .desc {
              height: 28px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
              text-transform: uppercase;
            }
          }

          span.third {
            position: absolute;
            right: 150px;
            font-size: 40px;
            top: 495px;
            display: flex;
            flex-direction: column;

            span.title {
              height: 62px;
              width: 93px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }

            span.desc {
              height: 28px;
              width: 212px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }

          span.fourth {
            position: absolute;
            right: 40px;
            font-size: 40px;
            top: 653px;
            display: flex;
            flex-direction: column;

            span.title {
              height: 62px;
              width: 145px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }

            span.desc {
              height: 28px;
              width: 234px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px
            }
          }

        }

        li.second {
          span.first {
            position: absolute;
            left: 456px;
            font-size: 40px;
            top: 444px;
            display: flex;
            flex-direction: column;

            span.title {
              height: 62px;
              width: 74px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }

            span.desc {
              height: 28px;
              width: 221px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }

          span.second {
            position: absolute;
            left: 690px;
            font-size: 40px;
            top: 415px;
            display: flex;
            flex-direction: column;

            span.desc {
              ul {
                li {
                  display: block;
                  width: 285px;
                  color: #FFFFFF;
                  font-family: "Gotham Pro";
                  font-size: 20px;
                  letter-spacing: 0.05px;
                  line-height: 40px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        li.third {
          .mapouter {
            position: absolute;
            left: 325px;
            //top: 200px;
            bottom: 60px;
            height: 487px;
            width: 60%;

            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

      }
    }
  }

  /*********************MIDDLE CONTENT**********************/

  .bottom-top-container {
    margin-top: 20px;
    padding: 0;
    background: #262959;
    position: relative;

    .slick-dotted.slick-slider {
      margin-bottom: 0;

      .slick-dots {
        position: absolute;
        bottom: 28px;
        left: 0;

        li {
          top: 0;
          margin: 0 10px;
          background: rgba($white_color, 0.4);

          &.slick-active {
            background: $white_color;
          }

          button {
            text-indent: -99999px;
          }
        }
      }

      .slick-prev, .slick-next {
        width: 75px;
        height: 150px;
        background: linear-gradient(270deg, rgba(#92AEE0, 0.6) 2.33%, rgba(36, 92, 193, 0.6) 88.15%);
        z-index: 2;

        &.slick-disabled {
          opacity: 0;
          visibility: hidden;
        }

        &:before {
          content: '\e900';
          font-family: 'icons';
          font-size: 54px;
          opacity: 1;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
      .slick-prev {
        left: 0;
        @include border-radius(0 500px 500px 0);
        background: linear-gradient(90deg, rgba(#92AEE0, 0.6) 2.33%, rgba(36, 92, 193, 0.6) 88.15%);

        &:before {
          content: '\e903';
          right: 52%;
        }
      }
      .slick-next {
        right: 0;
        @include border-radius(500px 0 0 500px);

        &:before {
          left: 52%;
        }
      }
    }

    .carousel-itemq {
      .slide-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        @include background-size(cover);
      }
      .slide-content {
        position: relative;
        z-index: 2;
        min-height: 845px;
        padding-top: 88px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;

        color: $white_color;

        .title {
          font-size: 50px;
          line-height: 56px;
          margin-bottom: 8px;
        }
        .description {
          padding-left: 54px;

          font-size: 24px;
          line-height: 34px;

          ul,
          p {
            margin-bottom: 34px;
          }

          &.narrow {
            max-width: 540px;
          }
          &.middle {
            max-width: 820px;
          }
        }

        .btn {
          min-width: 250px;
          font-size: 18px;
          line-height: 58px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.has-infographics {
        .slide-content {
          padding-bottom: 100px;
        }
      }
      .slide-inforgraphics {
        position: absolute;
        bottom: 88px;
        left: 0;
        width: 100%;

        padding: 0 40px;
      }

      &:nth-child(1):not(.slick-cloned) {
        .description {
          padding-left: 0;
        }
      }
    }
  }

  /** END BOTTOM TOP CONTAINER **/

  .bottom-middle-container {
    margin-top: 20px;
    background: url("../img/block7.jpg");
    height: 720px;

    .part {
      padding: 197px 0 0 40px;

      .title {
        height: 51px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 50px;
        letter-spacing: 0.13px;
        line-height: 51px;
      }

      .desc {
        margin-top: 40px;
        height: 102px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 24px;
        letter-spacing: 0.26px;
        line-height: 34px;
      }

      .button {
        height: 61px;
        width: 250px;
        border-radius: 35px;
        background-color: #245CC1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: uppercase;

        a {
          color: white;
        }
      }
    }
  }

  /** END BOTTOM MIDDLE CONTAINER **/

  .bottom-footer-container {
    margin-top: 20px;
    padding: 35px 40px 92px;
    background: white;

    .title {
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 50px;
      letter-spacing: 0.132353px;
      line-height: 50px;
      margin-bottom: 22px;
    }
    .contacts-list {
      .c-item {
        font-size: 24px;
        line-height: 40px;

        a {
          color: #235ca3;
        }
      }
    }
  }

}

.slide-inforgraphics {
  .infogr-item {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 194px;
    margin-right: 24px;

    background: linear-gradient(180deg, rgba(74, 149, 226, 0.0001) 1.43%, #245CA3 100%);

    &:nth-child(2n) {
      background: linear-gradient(180deg, rgba(236, 129, 53, 0.0001) 0%, #FAB03B 100%);
    }

    .number {
      position: absolute;
      width: 100%;
      top: 47%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      padding: 0 5px;

      font-size: 42px;
      line-height: 1;
    }

    .text {
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 0;
      text-align: center;
      min-height: 44px;
      padding: 0 5px;

      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 0.0476471px;
    }
  }
}

ul.yellow-dotted {
  li {
    position: relative;
    padding-left: 50px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 24px;
      height: 24px;
      background: #FAB04F;
      @include border-radius(50%);
    }
  }
}

#news-block {
  margin-top: 20px;
  color: $white_color;
  background: url(../img/block3.jpg) 50% 50% no-repeat #262959;
  @include background-size(cover);
  padding: 35px 55px 70px 40px;

  @media (max-width: 991px) {
    text-align: center;
  }

  .block-title {
    font-size: 50px;
    letter-spacing: 0.132353px;
  }

  .block-title + .news-list {
    margin-top: 35px;
  }
  .news-list {
    .news-single {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 991px) {
        margin-bottom: 60px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      $gap: 29px;
      $container_width: 1183px;

      & > .row {
        margin-left: -$gap;
        margin-right: -$gap;

        & > div {
          padding-left: $gap;
          padding-right: $gap;
        }
      }

      .image-column {
        @media (min-width: 992px) {
          $w: 350px + 2 * $gap;
          $w: percentage($w/$container_width);
          -ms-flex: 0 0 $w;
          flex: 0 0 $w;
          max-width: $w;
        }
        @media (max-width: 991px) {
          margin-bottom: 50px;
        }
      }
      .text-column {
        @media (min-width: 992px) {
          float: right;
          $w: 717px + 2 * $gap;
          $w: percentage($w/$container_width);
          -ms-flex: 0 0 $w;
          flex: 0 0 $w;
          max-width: $w;
        }
      }

      .news-title {
        font-family: $font_medium;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 5px;
        letter-spacing: 0.259412px;

        @media (min-width: 992px) {
          margin-top: -7px;
        }
      }
      .news-excerpt {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.259412px;
      }
      .btn-wrap {
        margin-top: 15px;
      }
      $btn_color: #FAB03B;
      .btn-warning {
        color: $white_color;
        font-size: 18px;
        letter-spacing: 0.259412px;
        @include border-radius(0);
        padding: 10px 27px;

        background-color: $btn_color;
        border-color: $btn_color;

        &:active,
        &:hover {
          $hover_c: darken($btn_color, 10%);
          background-color: $hover_c;
          border-color: $hover_c;
        }

        @media (min-width: 992px) {
          float: right;
        }
      }
    }
  }
}

#partners {
  margin-top: 20px;
  background-color: #F1F1F1;
  padding: 48px 20px 52px;
  text-align: center;

  .partners-group {
    width: 49%;
    max-width: 512px;
    padding-right: 12px;
    margin-bottom: 25px;
    text-align: left;

    @media (min-width: 992px) {
      display: inline-block;
      vertical-align: top;

      &:nth-child(3n+1) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media (max-width: 991px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .group-title {
      font-size: 24px;
      line-height: 28px;
      color: #262959;
      font-family: $font_medium;
      padding: 0 0 35px 46px;
      background: url(../img/group-title-line.png) no-repeat 0 35px;
    }
    .partners-list {
      padding-left: 15px;
      margin-top: -17px;

      .partner-item {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 60px;
        background: $white_color;
        @include border-radius(20px 0 20px 0);
        text-align: center;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: 10px;

        &:nth-child(3n),
        &:last-child {
          margin-right: 0;
        }

        @media (min-width: 992px) and (max-width: 1100px) {
          width: 138px;
          margin-right: 5px;
        }

        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-height: 100%;
          max-width: 90%;
        }
      }
    }
  }
}

#media-block {
  margin-top: 20px;
  color: $white_color;
  background: url(../img/block8.jpg) 0 0 no-repeat #262959;
  @include background-size(cover);
  padding: 65px 39px 168px;

  .block-title {
    font-size: 50px;
    letter-spacing: 0.132353px;
  }

  .block-title + .media-columns {
    margin-top: 98px;
  }
  .media-columns {
    $gap: 23px;
    $container_width: 1188px;
    margin-left: -$gap;
    margin-right: -$gap;

    & > div {
      padding-left: $gap;
      padding-right: $gap;
    }
    .image-column {
      @media (min-width: 992px) {
        $w: 400px + 2 * $gap;
        $w: percentage($w/$container_width);
        -ms-flex: 0 0 $w;
        flex: 0 0 $w;
        max-width: $w;
      }
      @media (max-width: 991px) {
        margin-bottom: 50px;
      }
    }
    .video-column {
      @media (min-width: 992px) {
        float: right;
        $w: 694px + 2 * $gap;
        $w: percentage($w/$container_width);
        -ms-flex: 0 0 $w;
        flex: 0 0 $w;
        max-width: $w;
      }
    }
  }

}
/** END MEDIA BLOCK **/

/** LOGOS **/

.logos {
  ul {
    li {
      a.fb {
        background: url(../img/facebook-logo-button.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: 145px;
        top: 17px;
      }
    }

    li {
      a.inst {
        background: url("../img/instagram.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: 185px;
        top: 17px;
      }
    }
  }
}