/******************Global body tag******************************/

body {
  background: url("../img/back.png");
}

header {
  .container {
    background: url("../img/mid_top.png");
    background-repeat: no-repeat;
  }

}

/************************TOP NAVIGATION MENU*************************************/

// Variables.
$gotham_pro_font_family: "Gotham Pro", Arial, sans-serif;
$medium_font_size: 16px;
$medium_line_height: 16px;
$white_color: #FFFFFF;

.container {
  max-width: 1220px;
  position: relative;

  /** LOGO **/
  .logo {
    height: 197px;
    width: 167px;
    background: url("../img/logo.png") no-repeat;
    background-position: center;

  }
  /** END LOGO **/

  /** NAV MENU **/
  .main-menu {

    .navbar-toggler {
      margin: auto;
    }
    .navbar-nav {

      a {
        color: $white_color !important;
        font-family: $gotham_pro_font_family;
        font-size: $medium_font_size;
        letter-spacing: 0.04px;
        line-height: $medium_line_height;
        padding: 0 !important;
        margin-right: 2.0rem;
        height: 35px;
      }
      a:hover {
        border-bottom: $white_color 3px solid;
      }
    }
  }
  /** END NAV MENU **/

  /** LANGUAGE SWITCHER **/
  .language {
    position: absolute;
    right: 39px;
    top: 19px;
    ul {
      display: flex;
      width: 62px;
      justify-content: space-between;
      li {
        a {
          font-family: "Gotham Pro";
          font-size: 18px;
          letter-spacing: 0.19px;
          line-height: 17px;
          color: $white_color;
        }
        a.active {
          color: #A94729;
        }
      }
      li:first-child {
        border-right: 1px solid $white_color;
        padding-right: 7px;
      }
    }
  }
  /** END LANGUAGE SWITCHER **/

  /** MIDDLE HEADER **/
  .middle-header {
    .title-month {
      @media (min-width: 992px) {
        padding: 0;
      }
      @media (min-width: 1200px) {
        padding-left: 3%;
      }
      text-align: center;
      .title {
        height: 57px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 64px;
        line-height: 61px;
      }
      .desc {
        height: 22px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 24px;
        letter-spacing: 1.18px;
        line-height: 24px;
        margin-top: 10px;
      }
    }

    .ticket-button {
      height: 61px;
      border-radius: 35px;
      background-color: #C9142E;
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05px;
      line-height: 55px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 50px;
    }

    .timer {
      display: flex;
      justify-content: space-around;

      .countdown-row {
        .countdown-section {

          height: 115px;
          width: 110px;
          background-color: #D44A18;
          display: flex;
          flex-direction: column;
          float: left;
          margin-right: 5px;
          justify-content: center;
          align-items: center;

          .countdown-amount {
            height: 41px;
            width: 55px;
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 46px;
            letter-spacing: 0.12px;
            line-height: 44px;
          }
          .countdown-period {
            height: 12px;
            width: 42px;
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 14px;
            letter-spacing: 0.04px;
            line-height: 13px;
            text-align: center;
            margin-top: 15px;
          }

        }
      }
    }
  }
  /**END MIDDLE HEADER **/

  /**BOTTOM TOP**/
  .bottom-top-header {
    margin-top: 70px;
    color: #FFFFFF;
    font-family: "Gotham Pro";
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.06px;
    line-height: 64px;

  }
  /** END BOTTOM TOP **/

  /** BOTTOM MIDDLE HEADER **/
  .bottom-middle-header {
    margin-top: 100px;
    padding-left: 2%;
    height: 230px;
    .mark {
      background: url("../img/shape.png");
      height: 80px;
      width: 55px;
      margin: auto;
      margin-bottom: 20px;
    }
    .desc {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 24px;
      letter-spacing: 0.06px;
      line-height: 34px;
      text-transform: uppercase;
    }
  }
  /** END BOTTOM MIDDLE HEADER **/

}

/************************END TOP NAVIGATION MENU*************************************/

/**************************************MAIN*****************************************/

main {

  .brand-middle {
    margin-top: 10px;
    background: url("../img/g_13.png");

    .counter {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 90px;
      letter-spacing: 3.84px;
      line-height: 86px;
      margin-left: 11%;
    }
    .strong {
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 23px;
      letter-spacing: -0.04px;
      line-height: 23px;
      margin-left: 11%;
      text-transform: uppercase;
    }
    .msg {
      margin-top: 95px;
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 24px;
      letter-spacing: 0.16px;
      line-height: 34px;
      margin-left: 4%;
      p {
        margin: 10px;
        pdding: 10px;
      }
    }
  }
  /** END BRAND MIDLLE */

  .middle-container {
    background: white;
    .day_switcher {
      padding-top: 80px;
      margin-top: 20px;
      margin-bottom: 50px;
      ul {
        display: flex;
        li.active {
          background-color: #C9142E;
          .title {
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 36px;
            font-weight: 500;
            letter-spacing: 0.2px;
            line-height: 34px;
          }
          .desc {
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.05px;
            line-height: 17px;
          }
        }
        li {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 20px;
          height: 110px;
          .title {
            color: #000000;
            font-family: "Gotham Pro";
            font-size: 36px;
            font-weight: 500;
            letter-spacing: 0.2px;
            line-height: 34px;
          }
          .desc {
            color: #000000;
            font-family: "Gotham Pro";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.05px;
            line-height: 17px;
          }
        }
      }
    }
  }
  /** END MIDDLE CONTAINER **/
  .day {
    display: none;
  }
  .table-wrapper {
    .active {
      display: block;
    }
    td {
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 28px;
      letter-spacing: 0.07px;
      line-height: 26px;
    }
    tr:hover {
      background-color: #FAB04F;
    }
    .female {
      color: #CF4817;
      font-family: "Gotham Pro";
      font-size: 28px;
      letter-spacing: 0.07px;
      line-height: 26px;
    }
  }

  /***************************** DINAMO ****************************************/

  .middle-bottom-container {
    background: url("../img/g_14.png");
    padding-top: 40px;
    height: 860px;
    .title-pl {
      font-family: Gotham Pro;
      font-size: 36px;
      line-height: 48px;
      margin: 0 0 30px 86px;
      padding-top: 50px;
    }

    .dinamo-block {
      margin: 0 0 0 40px;
      .title {
        height: 54px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 48px;
        letter-spacing: 0.13px;
        line-height: 54px;
      }
      .desc {
        height: 68px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 24px;
        letter-spacing: 0.26px;
        line-height: 34px;
      }
    }
    /** END DINAMO BLOCK ***/

    .tabs {
      margin-top: 130px;
      margin-left: 45px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 38px;
        display: flex;
        flex-direction: column;

        li.active {
          background: none;
        }
        li {
          height: 77px;
          width: 194px;
          display: flex;
          border: 1px solid #FFFFFF;
          justify-content: center;
          align-items: center;
          background-color: #FAB04F;
          a {
            height: 16px;
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.05px;
            line-height: 17px;
          }
        }
      }

    }
    /** END TABS **/

    .img-brand-middle {
      color: white;
      ul.img-list {
        li {
          display: none;
        }
        li.active {
          display: block;
        }
        .mark_n {
          height: 24px;
          width: 24px;
          background-color: #FAB04F;
          border-radius: 15px;
        }
        li.first {
          span.first {
            position: absolute;
            left: 425px;
            font-size: 40px;
            top: 322px;
            display: flex;
            flex-direction: column;
            .title {
              height: 62px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }
            .desc {
              height: 28px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }
          span.second {
            position: absolute;
            left: 393px;
            font-size: 40px;
            top: 530px;
            display: flex;
            flex-direction: column;
            .title {
              height: 62px;
              width: 162px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }
            .desc {
              height: 28px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
              text-transform: uppercase;
            }
          }
          span.third {
            position: absolute;
            right: 150px;
            font-size: 40px;
            top: 495px;
            display: flex;
            flex-direction: column;
            span.title {
              height: 62px;
              width: 93px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }
            span.desc {
              height: 28px;
              width: 212px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }
          span.fourth {
            position: absolute;
            right: 40px;
            font-size: 40px;
            top: 653px;
            display: flex;
            flex-direction: column;
            span.title {
              height: 62px;
              width: 145px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }
            span.desc {
              height: 28px;
              width: 234px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px
            }
          }

        }
        li.second {
          span.first {
            position: absolute;
            left: 456px;
            font-size: 40px;
            top: 444px;
            display: flex;
            flex-direction: column;
            span.title {
              height: 62px;
              width: 74px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 70px;
              letter-spacing: 2.98px;
              line-height: 67px;
            }
            span.desc {
              height: 28px;
              width: 221px;
              color: #FFFFFF;
              font-family: "Gotham Pro";
              font-size: 20px;
              letter-spacing: 0.05px;
              line-height: 28px;
            }
          }
          span.second {
            position: absolute;
            left: 690px;
            font-size: 40px;
            top: 415px;
            display: flex;
            flex-direction: column;
            span.desc {
              ul {
                li {
                  display: block;
                  width: 285px;
                  color: #FFFFFF;
                  font-family: "Gotham Pro";
                  font-size: 20px;
                  letter-spacing: 0.05px;
                  line-height: 40px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

      }
    }
  }

  /*********************MIDDLE CONTENT**********************/

  .bottom-top-container {
    background: url("../img/r_25.png");
    height: 830px;
    margin-top: 20px;
    position: relative;
    .city-label {
      height: 51px;
      width: 164px;
      color: #FFFFFF;
      font-family: "Gotham Pro";
      font-size: 50px;
      letter-spacing: 0.13px;
      line-height: 51px;
      padding: 90px 0 0 40px;
    }
    .bottom-list {
      @media (min-width: 576px) {
        position: initial;
        padding-top: 100px;
      }
      @media (min-width: 1200px) {
        position: absolute;
        bottom: 17px;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        div {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .title {
            height: 43px;
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 48px;
            letter-spacing: 1px;
            line-height: 46px;
          }
          .desc {
            height: 44px;
            color: #FFFFFF;
            font-family: "Gotham Pro";
            font-size: 18px;
            letter-spacing: 0.05px;
            line-height: 22px;
            text-align: center;
          }
        }
        .odd {
          height: 194px;
          background-color: #245CC1;
        }
        .chh {
          height: 194px;
          background-color: #CF4817;
        }
      }

    }
  }
  /** END BOTTOM TOP CONTAINER **/

  .bottom-middle-container {
    margin-top: 20px;
    background: url("../img/r_ 27.png");
    height: 720px;
    .part {
      padding: 197px 0 0 40px;
      .title {
        height: 51px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 50px;
        letter-spacing: 0.13px;
        line-height: 51px;
      }
      .desc {
        margin-top: 40px;
        height: 102px;
        color: #FFFFFF;
        font-family: "Gotham Pro";
        font-size: 24px;
        letter-spacing: 0.26px;
        line-height: 34px;
      }
      .button {
        height: 61px;
        width: 250px;
        border-radius: 35px;
        background-color: #245CC1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: uppercase;
      }
    }
  }
  /** END BOTTOM MIDDLE CONTAINER **/

  .bottom-bottom-container {
    margin-top: 20px;
    height: 801px;
    background-color: #ECECEC;
  }

  .bottom-footer-container {
    margin-top: 20px;
    padding-top: 110px;
    background: white;
    .title, .email-first, .email-second {
      height: 160px;
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 40px;
      letter-spacing: 0.11px;
      line-height: 40px;
    }
  }

}

body.eng {
  .bottom-top-container {
    height: auto;
    .bottom-list {
      position: initial;
      .odd {
        height: auto;
        .desc {
          padding: 10px;
          height: auto;
        }
      }
    }
  }

}