









/************************ BOTTOM - TOP ********/
.bottom-top-container .middle-desc {
  margin-top: 10%;
}

.bottom-top-container .first .top {

}

.bottom-top-container .first .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

.bottom-top-container .first .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

/** First slide**/
.bottom-top-container .middle-desc .top {
  margin-top: 7%;
}

.bottom-top-container .img-brand-bottom {
  position: absolute;
}

.bottom-top-container img {
  opacity: 0.3;
  width: 100%;

}

.bottom-top-container .middle-desc .top .title {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

.bottom-top-container .middle-desc .top .desc {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.bottom-top-container .middle-desc .top .desc p {
  margin: 0;
}

.bottom-top-container .single-item .middle ul {
  list-style: none;
  margin: 140px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.bottom-top-container .single-item .middle ul li {
  padding: 5px;
}

.bottom-top-container .single-item .middle {
  margin-bottom: 150px;
}

.bottom-top-container .single-item .middle ul li .title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 126px;
  color: #000000;
}

@media (min-width: 768px) {
  .bottom-top-container .single-item .middle ul li .title {
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
  }

  .bottom-top-container .middle-desc .top .desc {
    /*font-size: 12px;*/
  }

  .bottom-top-container .middle-desc .top {
    margin-top: 1%;
  }
}

.bottom-top-container .single-item .middle ul li .desc {
  display: block;
}

.bottom-middle-container img, .bottom-bottom-container img, .footer-top-container img {
  width: 100%;
}

table tr:hover {
  background: gray;
}

.footer-top-container {
  margin-top: 50px;
  position: relative;
}

.footer-top-container .img-brand img {
  height: 500px;

}

.footer-top-container .footer-brand {
  position: absolute;
  top: 20%;
}

//.footer-top-container .footer-brand .title {
//  font-family: Gothic A1;
//  font-style: normal;
//  font-weight: 900;
//  font-size: 36px;
//  line-height: normal;
//  color: #FFFFFF;
//  margin-bottom: 20px;
//}

.footer-top-container .footer-brand .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.footer-top-container .footer-brand .button {
  margin-top: 30px;
}

.footer-middle-container {
  margin-top: 50px;
}

//.footer-middle-container .title {
//  font-family: Gothic A1;
//  font-style: normal;
//  font-weight: 900;
//  font-size: 36px;
//  line-height: normal;
//
//  color: #000000;
//}

.footer-middle-container .desc {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: #000000;
  margin-bottom: 30px;
}

.footer-middle-container iframe {
  width: 100%;
  height: 610px;
}

